<div class="body-for-success">
  <div class="divider">
    <img src="/images/logo2.png" alt="hero image" class="hero-image">
  </div>
  <section>
    <h1>Payment Received for {{car.year}} {{car.make}} {{car.model}} !</h1>
    <img src="/images/{{pictureId}}/1.jpg">
    <a href="/" class="login-comment">Go Back Home</a>
  </section>
</div>